@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --vaadin-tooltip-offset-top: 0.5rem;
}

vaadin-menu-bar-item::part(checkmark) {
    width: 0;
}

vaadin-menu-bar-item {
    padding: 0.3rem 0.6rem;
}

