@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./fonts/material-icons.woff2') format('woff2');
}

html {
    --lumo-font-family: 'Segoe UI', sans-serif;
    font-family: 'Segoe UI', sans-serif;
}

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.badge {
    border-radius: 9999px;
}